POSTGRES_DB=foodgram
POSTGRES_USER=foodgram
POSTGRES_PASSWORD=foodgram
DB_HOST=db
DB_PORT=5432
SECRET_KEY=replace-me
DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1,158.160.201.43,zxczxc.servequake.com
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@example.com
DJANGO_SUPERUSER_PASSWORD=admin
